table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

div.WholeTable {
  background-color: red;
}

th,
td {
  border: 2px solid #dddddd;
  padding: 8px;
  text-align: center;
}

/* th {
  background-color: #831e1e;
} */

tr:hover {
  background-color: #808080;
}
.DeleteButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ModifyButton {
  background-color: lightgray;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.expired-status {
  color: red;
}
